@font-face {
	font-family: "Fira Mono";
	src: url(./font/FiraMono-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Indie Flower";
	src: url(./font/IndieFlower-Regular.ttf) format("truetype");
}

::selection {
	background-color: #111111;
	color: #ebe5d7;
}

html {
	font-size: 1.2em;
}

body {
	margin: 3rem;
	background: #ebe5d7;
	color: #111111;
	font-family: "Fira Mono", monospace;
}

h1, h2, h3 {
	margin: 1rem 0;
	font-weight: normal;
	font-family: "Indie Flower", cursive;
}

h1 a, h2 a, h3 a {
	font-size: smaller;
}

h1 { font-size: 2.5em }
h2 { font-size: 2em }

section {
	width: 50vw;
	padding: 2rem;
	margin: 3rem auto;
	border: 1px solid black;
}

p {
	text-align: justify;
}

ul {
	margin: 1rem 0;
	padding-left: 4ch;
	list-style: none;
}

li {
	position: relative;
}

li::before {
	content: "- ";
	position: absolute;
	left: -2ch;
}

a {
	color: #111111;
	text-decoration: underline, wavy, currentColor;
	font-family: "Indie Flower", cursive;
	font-size: 1.2em;
}

@media (max-aspect-ratio: 4 / 3) {
	section {
		width: 60vw;
	}
}

@media (orientation: portrait) {
	section {
		width: unset;
	}
}

@media (pointer: none), (pointer: coarse) {
	html {
		font-size: 1rem;
	}

	body {
		margin: 1rem;
	}

	section {
		padding: 1rem;
		margin: 1rem 0;
	}
}
